@tailwind base;
@tailwind components;
@tailwind utilities;

.iframe{
    height: 500px !important;
    width: 53rem!important;
    
}
.livechat{
    width: 600px!important;
    padding-top: 1rem;
    
}